
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center;
    margin-top: 36px;
    
}


.card:hover {
    transform: scale(1.02);
}



.card {
    width: 100%;
    transition: transform 0.5s;         
}

