.nav-img{
    width: 80px;
}

.nav-h3{
    margin-left: -10px;
    font-size: 36px;
    transition: tranform 0.5s;
    user-select: none;
}
.nav-h3:hover{
    color: rgb(50, 50, 50);
}

.navbar-brand{
    margin-left: 20px;
}